main{
    min-height: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    min-height: 800px;
    background: url(../images/bg.jpg) no-repeat ;
    background-size:cover;
    overflow: hidden;
}
.top-header{
    height: 100px;
    background-color:#03A688;
}
.bottom-header{
    height: 200px;
    background-color: #6BB29270;

}
/* ul li a{
    color: white !important ;
    font-size: 25px;
      
} */
.nav1 a{
    color: white !important ;
    font-size: 25px;
}
.bton{
  margin-left:30px ;
   background-color: #F25A38;
  border-radius: 10px;
}
.images{
    height: 100px;

}

.icons{
    height: 200px;
    background-color: wheat;
}
h6{
    color: white;
    margin-top: 25px;
}
.sec1{
    min-height: 500px;
    /* background-color: violet; */
    overflow: hidden;
}
hr{
    width: 150px;
  margin: auto;
}
h4{
    color: tomato;
    /* text-align: center; */
}
.pic{
height: 100px;
width: 100px;

}

.sec2{
    min-height: 600px;
    overflow: hidden;
}

.p1, .p2 ,.p3{
    min-height: 300px;
}
.pic1,.pic2,.pic3{
    min-height: 300px;
}
.p1,.p2{background-color: #03A688;

}
.p3{
    background-color: #F25A38;
}
.pic1{
    background-image: url(../images/about-pic1.jpg);
    background-size: cover;
}
.pic2{
    background-image: url(../images/about-pic2.jpg);
    background-size: cover;

}
.pic3{
    background-image: url(../images/about-pic3.jpg);
    background-size: cover;

}
.sec3{
    min-height: 400px;
    background: url(../images/process-bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
.process{
    min-height: 200px;
    background-color: thistle;
}
.process1{
    height: 200px;
   background-color:  #F25A38;
}
.process2{
    height: 200px;
   background-color: #F2EA77;
}
.process3{
    height: 200px;
  background-color: #7EBF95;
}
.process4{
    height: 200px;
 background-color: #03A688;
}

.sec4{
    min-height: 500px;
    /* background-color: thistle; */
    overflow: hidden;
}
.left-side{
    min-height: 300px;
    /* background-color:rgb(0, 145, 7); */
}
.first,.second{
    min-height: 500px;
}
.likes{
    height: 50px;
}
.right-side{
    min-height: 300px;
    /* background-color: red; */
} 

.sec5{
    min-height: 250px;
    overflow: hidden;
}
.sec6{
    min-height: 500px;
    overflow: hidden;
}
.buttons{
    min-height: 50px;

 
}
.foot{
    min-height: 250px;
    background-color:#F25A38 ;
}
.team
{
    min-height: 300px;
}

.orang{
 
    height: 450;
    background-color: tomato;

}
footer{
    height: 200px;
}
.inner{

    height: 200px;

}
.hdr{
    height: 100px;
    background-color:#03A688;
}
.join{background-color: tomato;}
p{
    color:white;
}
.p4{
    color: black;
}
h5{
    margin-top: 15px;
    color: white;
}
h1{
    color: white;
}